.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  color: #ffffff;
  text-decoration: none;
}
.navigation-links-link1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link5 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}












@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-vertical-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-links-vertical-link {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-link1 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-link2 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-link3 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-link4 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-link5 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}


@media(max-width: 767px) {
  .navigation-links-vertical-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-vertical-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.golf-event-details-feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-event-details-feature-card-text {
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-event-details-feature-card-text1 {
  color: var(--dl-color-gray-700);
}
.golf-event-details-feature-card-custom-slot {
  display: contents;
}
.golf-event-details-feature-card-icon06 {
  width: 2rem;
  height: 2rem;
}
.golf-event-details-feature-card-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .golf-event-details-feature-card-text {
    font-style: normal;
  }
}

.golf-event-details-feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-event-details-feature-card-text {
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-event-details-feature-card-text1 {
  color: var(--dl-color-gray-700);
}
.golf-event-details-feature-card-custom-slot {
  display: contents;
}
.golf-event-details-feature-card-icon08 {
  width: 2rem;
  height: 2rem;
}
.golf-event-details-feature-card-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .golf-event-details-feature-card-text {
    font-style: normal;
  }
}

.golf-event-details-feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-event-details-feature-card-text {
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-event-details-feature-card-text1 {
  color: var(--dl-color-gray-700);
}
.golf-event-details-feature-card-custom-slot {
  display: contents;
}
.golf-event-details-feature-card-icon10 {
  width: 2rem;
  height: 2rem;
}
.golf-event-details-feature-card-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .golf-event-details-feature-card-text {
    font-style: normal;
  }
}

.golf-event-details-feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-event-details-feature-card-text {
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-event-details-feature-card-text1 {
  color: var(--dl-color-gray-700);
}
.golf-event-details-feature-card-custom-slot {
  display: contents;
}
.golf-event-details-feature-card-icon12 {
  width: 2rem;
  height: 2rem;
}
.golf-event-details-feature-card-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .golf-event-details-feature-card-text {
    font-style: normal;
  }
}

.golf-event-testimonial-card-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.golf-event-testimonial-card-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.golf-event-testimonial-card-testimonial {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.golf-event-testimonial-card-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-event-testimonial-card-text1 {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}



@media(max-width: 767px) {
  .golf-event-testimonial-card-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .golf-event-testimonial-card-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .golf-event-testimonial-card-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .golf-event-testimonial-card-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.navigation-links-dark-nav {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-links-dark-link {
  color: var(--dl-color-gray-black);
  text-decoration: none;
}
.navigation-links-dark-link1 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link2 {
  color: var(--dl-color-gray-black);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link3 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link4 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link5 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}


@media(max-width: 767px) {
  .navigation-links-dark-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-dark-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-logo {
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link1 {
  display: contents;
}
.footer-image {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}




@media(max-width: 767px) {
  .footer-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.golf-tournament-sponsored-by-contracts-risk-management-container {
  min-height: 100vh;
}
.golf-tournament-sponsored-by-contracts-risk-management-container01 {
  width: 100%;
  height: auto;
  z-index: 500;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-navbar-interactive {
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-image {
  height: 2rem;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-desktop-menu {
  display: flex;
}
.golf-tournament-sponsored-by-contracts-risk-management-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-register {
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-burger-menu {
  display: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.golf-tournament-sponsored-by-contracts-risk-management-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.golf-tournament-sponsored-by-contracts-risk-management-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-navlink1 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-logo {
  height: 2rem;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.golf-tournament-sponsored-by-contracts-risk-management-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.golf-tournament-sponsored-by-contracts-risk-management-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-register1 {
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 7.00%,rgba(237, 41, 136, 0.8) 91.00%),url("public/golf-tournament-background-full-1500h.webp");
  background-repeat: repeat,no-repeat;
  background-position: top left,bottom;
}
.golf-tournament-sponsored-by-contracts-risk-management-image1 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.golf-tournament-sponsored-by-contracts-risk-management-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container04 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container05 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-link {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-image2 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-text01 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-text04 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.golf-tournament-sponsored-by-contracts-risk-management-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.golf-tournament-sponsored-by-contracts-risk-management-link01 {
  display: inlin-block;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 4px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-link01:hover {
  transform: scale(1.02);
}
.golf-tournament-sponsored-by-contracts-risk-management-link02 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.golf-tournament-sponsored-by-contracts-risk-management-link02:hover {
  transform: scale(1.02);
}
.golf-tournament-sponsored-by-contracts-risk-management-banner {
  left: 0px;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-text10 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-text11 {
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text15 {
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text16 {
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text17 {
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text18 {
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-image3 {
  width: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.golf-tournament-sponsored-by-contracts-risk-management-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-text19 {
  width: 50%;
}
.golf-tournament-sponsored-by-contracts-risk-management-link03 {
  display: inlin-block;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 4px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-link03:hover {
  transform: scale(1.02);
}
.golf-tournament-sponsored-by-contracts-risk-management-container10 {
  flex: 0 0 auto;
  right: 5%;
  width: 20%;
  bottom: 20px;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: flex-end;
}
.golf-tournament-sponsored-by-contracts-risk-management-link04 {
  cursor: pointer;
  font-size: 24px;
  align-self: flex-end;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-link05 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-container11 {
  flex: 0 0 auto;
  right: 20px;
  width: 50px;
  bottom: 10px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ed2988;
}
.golf-tournament-sponsored-by-contracts-risk-management-icon04 {
  fill: white;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.golf-tournament-sponsored-by-contracts-risk-management-features {
  left: 0px;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}
.golf-tournament-sponsored-by-contracts-risk-management-text20 {
  font-size: 3rem;
  text-align: right;
  margin-bottom: var(--dl-space-space-twounits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text23 {
  width: 60%;
  align-self: flex-end;
  text-align: right;
}
.golf-tournament-sponsored-by-contracts-risk-management-separator {
  width: 100px;
  height: 2px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-500);
}
.golf-tournament-sponsored-by-contracts-risk-management-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.golf-tournament-sponsored-by-contracts-risk-management-image4 {
  width: 450px;
  height: 450px;
  object-fit: contain;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.golf-tournament-sponsored-by-contracts-risk-management-container13 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.golf-tournament-sponsored-by-contracts-risk-management-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-link06 {
  display: inlin-block;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 4px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-link06:hover {
  transform: scale(1.02);
}
.golf-tournament-sponsored-by-contracts-risk-management-text24 {
  padding-left: var(--dl-space-space-threeunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-container15 {
  flex: 0 0 auto;
  right: 5%;
  width: 20%;
  bottom: 20px;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: flex-end;
}
.golf-tournament-sponsored-by-contracts-risk-management-link07 {
  cursor: pointer;
  font-size: 24px;
  align-self: flex-end;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-link08 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-container16 {
  flex: 0 0 auto;
  right: 20px;
  width: 50px;
  bottom: 10px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ed2988;
}
.golf-tournament-sponsored-by-contracts-risk-management-icon15 {
  fill: white;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.golf-tournament-sponsored-by-contracts-risk-management-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-custom-primary1);
}
.golf-tournament-sponsored-by-contracts-risk-management-container17 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-text25 {
  color: var(--dl-color-gray-white);
}
.golf-tournament-sponsored-by-contracts-risk-management-text26 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.golf-tournament-sponsored-by-contracts-risk-management-container18 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.golf-tournament-sponsored-by-contracts-risk-management-link09 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-container19 {
  width: 50px;
  bottom: -559px;
  height: 50px;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.golf-tournament-sponsored-by-contracts-risk-management-icon17 {
  fill: #ed2988;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.golf-tournament-sponsored-by-contracts-risk-management-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-text27 {
  font-size: 3em;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.golf-tournament-sponsored-by-contracts-risk-management-text30 {
  padding: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-text31 {
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-navlink2 {
  color: rgb(255, 0, 200);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: underline none;
}
.golf-tournament-sponsored-by-contracts-risk-management-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-text32 {
  width: 100%;
  padding: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-link10 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-image5 {
  width: 100%;
}
.golf-tournament-sponsored-by-contracts-risk-management-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-text33 {
  width: 100%;
  padding: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-container25 {
  width: 100%;
  display: grid;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}
.golf-tournament-sponsored-by-contracts-risk-management-container26 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container27 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-text34 {
  width: 100%;
  padding: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-container29 {
  width: 100%;
  display: grid;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
}
.golf-tournament-sponsored-by-contracts-risk-management-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-link11 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-image6 {
  width: 175px;
  object-fit: cover;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-container31 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container32 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-text35 {
  width: 100%;
  padding: var(--dl-space-space-unit);
}
.golf-tournament-sponsored-by-contracts-risk-management-container34 {
  width: 100%;
  display: grid;
  position: relative;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.golf-tournament-sponsored-by-contracts-risk-management-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-link12 {
  display: contents;
}
.golf-tournament-sponsored-by-contracts-risk-management-image7 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-text36 {
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.golf-tournament-sponsored-by-contracts-risk-management-image8 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.golf-tournament-sponsored-by-contracts-risk-management-text37 {
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
}
.golf-tournament-sponsored-by-contracts-risk-management-container37 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container38 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.golf-tournament-sponsored-by-contracts-risk-management-container39 {
  right: 20px;
  width: 50px;
  bottom: 15px;
  cursor: pointer;
  height: 50px;
  display: none;
  z-index: 5000;
  position: fixed;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-custom-primary1);
}
.golf-tournament-sponsored-by-contracts-risk-management-icon19 {
  fill: var(--dl-color-gray-white);
  width: 100%;
}
@media(max-width: 1200px) {
  .golf-tournament-sponsored-by-contracts-risk-management-link04 {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container11 {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-link07 {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container16 {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container19 {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container39 {
    display: block;
  }
}
@media(max-width: 991px) {
  .golf-tournament-sponsored-by-contracts-risk-management-text01 {
    text-align: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text04 {
    text-align: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-banner {
    flex-direction: column;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container08 {
    align-items: center;
    margin-right: 0px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text15 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text16 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text17 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text18 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-image3 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-features {
    align-items: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container12 {
    flex-direction: column;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-image4 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text25 {
    text-align: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text26 {
    text-align: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container18 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .golf-tournament-sponsored-by-contracts-risk-management-desktop-menu {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-btn-group {
    display: none;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-icon {
    fill: white;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text11 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text15 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text16 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text17 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text18 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-text20 {
    text-align: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container12 {
    flex-direction: column;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container17 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .golf-tournament-sponsored-by-contracts-risk-management-icon {
    fill: white;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-mobile-menu {
    padding: 16px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    background-position: bottom 0px right;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-btn-group1 {
    flex-direction: column;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-link02 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container06 {
    width: 198px;
    font-size: 24px;
    margin-top: 75px;
    margin-left: 10px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container07 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-image3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container09 {
    margin-top: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .golf-tournament-sponsored-by-contracts-risk-management-image4 {
    width: 250px;
    height: 250px;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container13 {
    grid-template-columns: 1fr;
  }
  .golf-tournament-sponsored-by-contracts-risk-management-container17 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
