.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ffffff;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.feature-card3-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.feature-card3-icon {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.feature-card3-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card3-text1 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card3-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}









.golf-sponsorship-levels-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.golf-sponsorship-levels-container1 {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.golf-sponsorship-levels-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(66,24,44,0.9024203431372549) 15%, rgba(66,24,44,1) 27%);
}
.golf-sponsorship-levels-navlink {
  display: contents;
}
.golf-sponsorship-levels-image {
  height: 2rem;
  text-decoration: none;
}
.golf-sponsorship-levels-nav {
  display: flex;
}
.golf-sponsorship-levels-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.golf-sponsorship-levels-register {
  text-decoration: none;
}
.golf-sponsorship-levels-burger-menu {
  display: none;
}
.golf-sponsorship-levels-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.golf-sponsorship-levels-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.golf-sponsorship-levels-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.golf-sponsorship-levels-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.golf-sponsorship-levels-image1 {
  height: 2rem;
}
.golf-sponsorship-levels-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.golf-sponsorship-levels-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.golf-sponsorship-levels-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.golf-sponsorship-levels-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.golf-sponsorship-levels-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.golf-sponsorship-levels-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
}
.golf-sponsorship-levels-text {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.golf-sponsorship-levels-text05 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
  text-align: justify;
  padding-bottom: var(--dl-space-space-unit);
}
.golf-sponsorship-levels-text09 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
}
.golf-sponsorship-levels-link {
  text-decoration: underline;
}
.golf-sponsorship-levels-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.golf-sponsorship-levels-icon10 {
  fill: var(--dl-color-gray-500);
  width: 108px;
  height: 108px;
}
.golf-sponsorship-levels-text12 {
  margin-bottom: var(--dl-space-space-twounits);
}
.golf-sponsorship-levels-text18 {
  font-weight: 700;
}
.golf-sponsorship-levels-text21 {
  font-weight: 700;
}
.golf-sponsorship-levels-text24 {
  font-weight: 700;
}
.golf-sponsorship-levels-text27 {
  font-weight: 700;
}
.golf-sponsorship-levels-text30 {
  font-weight: 700;
}
.golf-sponsorship-levels-container7 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .golf-sponsorship-levels-text {
    text-align: center;
  }
  .golf-sponsorship-levels-text05 {
    text-align: center;
  }
  .golf-sponsorship-levels-container7 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .golf-sponsorship-levels-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .golf-sponsorship-levels-nav {
    display: none;
  }
  .golf-sponsorship-levels-btn-group {
    display: none;
  }
  .golf-sponsorship-levels-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .golf-sponsorship-levels-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .golf-sponsorship-levels-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .golf-sponsorship-levels-header {
    padding: var(--dl-space-space-unit);
  }
  .golf-sponsorship-levels-mobile-menu {
    padding: 16px;
  }
  .golf-sponsorship-levels-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .golf-sponsorship-levels-container7 {
    grid-template-columns: 1fr;
  }
}
