:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-custom-accent1: #5D576B;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-custom-primary1: #ff30a5ff;
  --dl-color-custom-primary2: #879392;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-custom-secondary1: #E6EBE0;
  --dl-color-custom-neutral-dark: #000000;
  --dl-color-custom-neutral-light: #FFFFFF;
  --dl-space-space-oneandhalfunits: 24px;
}
.buttonFilled {
  color: var(--dl-color-custom-neutral-light);
  transition: 0.3s;
  font-family: Lato;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary1);
}
.buttonFilled:hover {
  background-color: var(--dl-color-custom-primary2);
}
.buttonFilledSecondary {
  color: var(--dl-color-custom-neutral-light);
  transition: 0.3s;
  font-family: Lato;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary1);
}
.buttonFilledSecondary:hover {
  background-color: var(--dl-color-custom-primary2);
}
.buttonOutline {
  color: var(--dl-color-custom-neutral-dark);
  border: 1px solid;
  font-family: Lato;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-custom-neutral-dark);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.buttonFlat {
  color: var(--dl-color-custom-neutral-dark);
  font-family: Lato;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.featuresContainer {
  flex: 0 0 auto;
  color: var(--dl-color-custom-neutral-light);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-accent1);
}
.featuresCard {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
}
.featuresIcon {
  fill: var(--dl-color-custom-neutral-light);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.freePricingCard {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  font-family: Lato;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.basicPricingCard {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  font-family: Lato;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.proPricingCard {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  font-family: Lato;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.faqContainer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.navbarContainerDark {
  width: 100%;
  display: flex;
  position: sticky;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: linear-gradient(90deg, rgba(66,24,44,0.9024203431372549) 15%, rgba(66,24,44,1) 27%);
  background-image: linear-gradient(90deg, rgba(66,24,44,0.9024203431372549) 15%, rgba(66,24,44,1) 27%);
}
.navbarContainer {
  width: 100%;
  display: flex;
  position: sticky;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.mobileMenu {
  background-color: var(--dl-color-custom-neutral-light);
}
.mobileMenuDark {
  background-color: linear-gradient(90deg, rgba(66,24,44,0.9024203431372549) 15%, rgba(66,24,44,1) 27%);
  background-image: linear-gradient(90deg, rgba(66,24,44,0.9024203431372549) 15%, rgba(66,24,44,1) 27%);
}
.heroContainer {
  width: 100%;
  display: flex;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-light);
}
.pricingContainer {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-light);
}
.bannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-light);
}
.footerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-light);
}
.socialIcons {
  fill: var(--dl-color-custom-neutral-dark);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  color: darkslategray;
  display: list-item;
  font-size: 12px;
  list-style: georgian outside;
  font-weight: 300;
  padding-bottom: 10px;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.accordion {
  overflow: hidden;
}
.AccordionContent {
  overflow: hidden;
  max-height: 0;
  transition: all 0.35s;
}


.AccordionHeader  input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.AccordionContent p {
  margin: 0;
  padding: 1rem;
}
.AccordionHeader input:checked ~ .AccordionContent {
  max-height: 330px;
}
.AccordionHeaderLabel {
  cursor: pointer;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.AccordionHeader input:checked ~ .AccordionHeaderLabel {
  display: none;
}
.classname1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background: radial-gradient(circle at top left, white, lightblue 70%);
}
.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background: radial-gradient(circle at top left, white, lightblue 70%);
}
.hills {
  top: 50%;
  width: 100%;
  height: calc( 100vh - 45% );
  display: grid;
  position: absolute;
  place-items: center;
  grid-template: 1fr / 1fr;
}
.hills > .back {
  z-index: 1;
  background-color: darkgreen;
}
.hills > * {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.hills > .middle {
  z-index: 2;
  background-color: yellowgreen;
}
.hills > .front {
  z-index: 3;
  background-color: green;
}



.hill-shape {
  width: 100%;
  height: 100%;
  clip-path: url(#hill-shape);
}
.hill-shape1 {
  width: 100%;
  height: 100%;
  clip-path: url(#hill-shape1);
}
.hill-shape2 {
  width: 100%;
  height: 100%;
  clip-path: url(#hill-shape2);
}
.golf-pin-flag-pole {
  left: 83%;
  width: calc( 10vw - 9.8% );
  bottom: 30%;
  height: calc( 100vh - 78% );
  z-index: 10;
  position: absolute;
  background: linear-gradient(to right, black 0%, white 50%, black 100%);
  background-color: black;
}
.golf-pin-flag {
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  z-index: 10;
  position: absolute;
  border-top: 25px solid transparent;
  border-left: 50px solid red;
  border-bottom: 5px solid transparent;
}
.apple-tree {
  left: -50%;
  width: 100vw;
  bottom: 30%;
  z-index: 10;
  position: absolute;
  max-height: 50%;
}
.heading3 {
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  line-height: 150%;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.bodySmall {
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
}
.logo {
  font-size: 2em;
  font-family: Lato;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.overline {
  font-size: 12px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.bodyLarge {
  font-size: 18px;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
}
.heading2 {
  font-size: 35px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 150%;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading1 {
  font-size: 48px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 150%;
}


@media(max-width: 767px) {
  .navbarContainerDark {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbarContainer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbarContainerDark {
    padding: var(--dl-space-space-unit);
  }
  .navbarContainer {
    padding: var(--dl-space-space-unit);
  }
}
