.feature-card3-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.feature-card3-image {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.feature-card3-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card3-text1 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card3-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}








