<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mandi's Pink Tribe - Breast Cancer Awareness Charity Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mandispinktribe.info/" />
    <meta
      name="facebook-domain-verification"
      content="cqbu7gisfnuglcz5vnrulud7pyfv1i"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="mandispinktribe.info" />
    <meta
      name="twitter:title"
      content="Mandi's Pink Tribe - Breast Cancer Awareness Charity Events"
    />
    <meta
      name="twitter:description"
      content="Mandi's Pink Tribe is a non-profit organization working towards raising funds for breast cancer awareness and research by supporting the American Cancer Society"
    />
    <meta
      name="twitter:image"
      content="https://mandispinktribe.info/public/mpt-logo.png"
    />
    <meta name="twitter:url" content="http://mandispinktribe.info/" />
    <meta name="twitter:label1" content="Making Strides of Exeter NH" />
    <meta name="twitter:data1" content="October 13, 2024" />
    <meta
      name="twitter:label2"
      content="Golf Tournament sponsored by Contractors Risk Management"
    />
    <meta name="twitter:data2" content="June 22, 2024" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/iconartboard 1.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!---— facebook open graph tags ---->

    <!---— twitter card tags additive with the og: tags ---->

    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      html {
        scroll-padding-top: 100px;
      }
    </style>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./gallery14.css" rel="stylesheet" />
      <div class="gallery14-gallery3 thq-section-padding">
        <div class="gallery14-max-width thq-section-max-width">
          <div class="gallery14-section-title">
            <h2>
              <fragment class="gallery14-fragment8">
                <h2 class="gallery14-text29 thq-heading-2">
                  <span>
                    Laughs for a Cause: The 3rd Annual Comedy Night at Chunky’s
                  </span>
                  <br />
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="gallery14-fragment3">
                <span class="gallery14-text22 thq-body-large">
                  Join us for the 3rd annual Comedy Night at Chunky's Cinema in
                  Manchester, NH, as we bring together three incredible
                  comedians for a night of laughter and support for Making
                  Strides Against Breast Cancer. Headliners Annie Powell, Stacy
                  Kendro, and Matt Barry will take the stage to deliver their
                  unique, side-splitting performances in a night full of
                  entertainment. This annual event has become a beloved
                  tradition, combining top-tier comedy with a great cause,
                  helping our Exeter community fight breast cancer. Get ready
                  for a night you won’t forget!
                </span>
              </fragment>
            </span>
          </div>
          <div class="gallery14-content">
            <div class="gallery14-container1">
              <img
                alt="PlaceholderImage1302"
                src="public/comedy/annie%20powell-600w.webp"
                class="gallery14-image1 thq-img-ratio-4-3"
              />
              <span>
                <fragment class="gallery14-fragment7">
                  <span class="gallery14-text28 thq-body-small">
                    Annie Powell
                  </span>
                </fragment>
              </span>
              <span>
                <fragment class="gallery14-fragment1">
                  <span class="gallery14-text18 thq-body-small">
                    Headlining our 3rd annual Comedy Night at Chunky's, Annie
                    Powell brings her signature sharp wit and energetic style to
                    the stage in support of Making Strides Against Breast
                    Cancer. A crowd favorite at Mohegan Sun Casino, Annie has
                    shared the spotlight with some of the biggest names in
                    comedy. Known for her hilarious takes on everyday life, her
                    fast-paced humor will keep you laughing all night long.
                    Expect an evening of laughter that supports a cause close to
                    all of us in Exeter.
                  </span>
                </fragment>
              </span>
            </div>
            <a
              href="https://www.stacykendro.net/"
              target="_blank"
              rel="noreferrer noopener"
              class="gallery14-link1"
            >
              <div class="gallery14-container2">
                <img
                  alt="PlaceholderImage1302"
                  src="public/comedy/stacy%20kendro-600w.webp"
                  class="gallery14-image2 thq-img-ratio-4-3"
                />
                <span>
                  <fragment class="gallery14-fragment5">
                    <span class="gallery14-text26 thq-body-small">
                      Stacy Kendro
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="gallery14-fragment4">
                    <span class="gallery14-text23 thq-body-small">
                      <span>
                        Next up, Stacy Kendro brings her bold, acerbic humor to
                        Comedy Night at Chunky’s, offering a refreshing,
                        unfiltered view of the world. A staple of the New York
                        comedy scene, she’s performed at legendary venues like
                        the Friar’s Club and has opened for legends like Joan
                        Rivers. Stacy’s fearless “tell it like it is” style has
                        earned her a spot among the best, and she’s ready to
                        deliver a night of unforgettable comedy, all while
                        supporting Making Strides Against Breast Cancer.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
              </div>
            </a>
            <a
              href="https://www.mattbarrycomedy.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="gallery14-link2"
            >
              <div class="gallery14-container3">
                <img
                  alt="PlaceholderImage1302"
                  src="public/comedy/matt%20barry-400h.webp"
                  class="gallery14-image3 thq-img-ratio-4-3"
                />
                <span>
                  <fragment class="gallery14-fragment6">
                    <span class="gallery14-text27 thq-body-small">
                      Matt Barry
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="gallery14-fragment2">
                    <span class="gallery14-text19 thq-body-small">
                      <span>
                        Matt Barry, a powerhouse in the New England comedy
                        scene, rounds out the headliners for our 3rd annual
                        Comedy Night at Chunky's. Known for his relatable,
                        quick-hitting humor, Matt has earned titles like “New
                        England’s Best Bar Comic” and has performed alongside
                        legends such as Tom Green and Gilbert Gottfried. His mix
                        of wit and charm will have you in stitches, all while
                        supporting the vital work of Making Strides Against
                        Breast Cancer here in Exeter.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
