.navigation-links-vertical-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-links-vertical-navlink {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-navlink1 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-navlink2 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-navlink3 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-navlink4 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}


@media(max-width: 767px) {
  .navigation-links-vertical-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-vertical-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
