.navigation-links-vertical-dark-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-links-vertical-dark-link1 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-dark-link2 {
  color: black;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-dark-link3 {
  color: black;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-dark-link4 {
  color: black;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-dark-link5 {
  color: black;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-vertical-dark-link6 {
  color: black;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

@media(max-width: 767px) {
  .navigation-links-vertical-dark-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-vertical-dark-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-dark-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-dark-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-dark-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-vertical-dark-link6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
