.navigation-links-dark-nav {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-links-dark-link {
  color: var(--dl-color-gray-black);
  text-decoration: none;
}
.navigation-links-dark-link1 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link2 {
  color: var(--dl-color-gray-black);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link3 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link4 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-dark-link5 {
  color: black;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

@media(max-width: 767px) {
  .navigation-links-dark-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-dark-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-dark-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
